@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Work+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Gabarito&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nunito&family=Quicksand:wght@700&family=Tilt+Neon&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
  letter-spacing: 1.7px;
}

html, body {
  width: 100%;
}

#root {
  width: 100%;
}

.error {
  color: #ff4d4d;
  font-size: 20px;
  margin: 10px 0;
}

.App {
  width: 100%;
  padding: 0 15px;
}

.modal-open {
  overflow: hidden;
}

.item {
  display: flex;
  flex-direction: column;
  box-shadow: -1px 3px 13px -4px rgb(66, 68, 90);
  padding: 10px 20px;
  border-radius: 14px;
  margin-top: 30px;
  width: 100%;
  max-width: 700px;
  cursor: pointer;
}
.item__text {
  align-items: center;
  gap: 20px;
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
}
.item__info {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
}
.item__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  width: 100%;
}
.item__title {
  font-size: 20px;
}
.item__note {
  font-size: 30px;
}
.item__buttons {
  display: flex;
  align-items: center;
  gap: 5px;
}
.item button {
  color: black;
  background: none;
  border: none;
  cursor: pointer;
}
.item button img {
  width: 30px;
}
.item p {
  overflow-wrap: break-word;
  word-break: break-all;
}
.item input {
  font-size: 20px;
}

@media (max-width: 400px) {
  .item__buttons {
    flex-direction: column;
  }
}
.completed {
  text-decoration: line-through 4px;
  text-decoration-color: #ffe01b;
}

.todo {
  margin: 20px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.todo__list {
  margin-top: 20px;
}
.todo__empty {
  margin: 40px 0 20px 0;
  font-size: 20px;
  color: #aaaaaa;
  text-align: center;
}
.todo__listTitle {
  font-weight: 600;
  font-size: 24px;
}
.todo__wrapper {
  box-shadow: -1px 3px 13px -4px rgb(66, 68, 90);
  padding: 40px;
  border-radius: 20px;
  min-width: 400px;
}
.todo__panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 20px;
}
.todo__panel input {
  padding: 10px 20px;
  border: none;
  border-radius: 25px;
  outline: none;
  box-shadow: -1px 3px 13px -4px rgb(66, 68, 90);
  font-size: 20px;
}
.todo__panel button {
  font-size: 20px;
  color: black;
  background: #ffe01b;
  border: 1px solid black;
  padding: 10px 20px;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s ease all;
}
.todo__panel button:active {
  transform: translateY(-5px);
}

@media (max-width: 500px) {
  .todo__wrapper {
    min-width: auto;
  }
}
.checkbox-container {
  position: relative;
  display: block;
  padding-left: 30px;
  height: 30px;
  cursor: pointer;
  font-size: 16px;
}

.checkbox-container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 30px;
  width: 30px;
  border-radius: 50%;
  background-color: #cdcdcd;
  box-shadow: -1px 3px 33px -4px rgb(66, 68, 90);
  border: 1px solid black;
}

.checkbox-container:hover input ~ .checkmark {
  background-color: #aaa;
}

.checkbox-container input:checked ~ .checkmark {
  background: #ffe01b;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkbox-container input:checked ~ .checkmark:after {
  display: block;
}

.checkbox-container .checkmark:after {
  left: 11px;
  top: 6px;
  width: 5px;
  height: 10px;
  border: solid black;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-top: 100px;
}

.delete {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  z-index: 10;
}
.delete__item {
  display: flex;
  background: white;
  flex-direction: column;
  gap: 20px;
  border-radius: 20px;
  box-shadow: -1px 3px 13px -4px rgb(66, 68, 90);
  padding: 30px 60px;
  width: 100%;
  max-width: 400px;
}
.delete__title {
  text-align: center;
  font-size: 24px;
  font-weight: 600;
}
.delete__buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.delete__button {
  border-radius: 10px;
  padding: 10px 20px;
  font-size: 20px;
  border: 1px solid black;
  font-weight: 600;
  cursor: pointer;
  background: #ffffff;
}
.delete__yes {
  background: #ff4a4a;
  border: 1px solid #ff4a4a;
  color: white;
}
.delete__opened {
  display: flex;
}
.delete__closed {
  display: none;
}

@media (max-width: 450px) {
  .delete__item {
    padding: 10px 20px;
  }
}

/*# sourceMappingURL=style.css.map */
