@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Work+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gabarito&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Tilt+Neon&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito&family=Quicksand:wght@700&family=Tilt+Neon&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  //font-family: 'Gabarito', sans-serif;
  //font-family: 'Tilt Neon', sans-serif;
  //font-family: 'Nunito', sans-serif;
  font-family: 'Quicksand', sans-serif;
  letter-spacing: 1.7px;

}
html, body {
  width: 100%;
}
#root {
  width: 100%;
}
.error {
  color: #ff4d4d;
  font-size: 20px;
  margin: 10px 0;
}
.App {
  width: 100%;
  padding: 0 15px;
}
.modal-open {
  overflow: hidden;
}

.item {
  display: flex;
  flex-direction: column;
  box-shadow: -1px 3px 13px -4px rgba(66, 68, 90, 1);
  padding: 10px 20px;
  border-radius: 14px;
  margin-top: 30px;
  width:100%;
  max-width: 700px;
  cursor: pointer;
  &__text {
    align-items: center;
    gap: 20px;
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
  }

  &__info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 5px;
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    width: 100%;
  }
  &__toggle {
    width: 30px;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    & img {
      width:38px;
      position: relative;
      top: -1.5px;
      right: -1.5px;
    }
  }
  &__circle {
    width:30px;
    height: 30px;
    border: 2px solid black;
    border-radius: 50%;
  }
  &__title {
    font-size: 20px;
  }
  &__note {
    font-size: 30px;
  }
  &__buttons {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  & button {
    color: black;
    background: none;
    border: none;
    cursor:pointer;
    & img {
      width: 30px;
    }
  }
  & p {
    overflow-wrap: break-word;
    word-break: break-all;
  }
  & input {
    font-size: 20px;
  }
}
@media (max-width: 400px) {
  .item {
    &__buttons {
      flex-direction: column;
    }
  }
}
.completed {
  text-decoration: line-through 4px;
  text-decoration-color: #ffe01b;
}
.todo {
  margin: 20px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  &__list {
    margin-top: 20px;
  }
  &__empty {
    margin: 40px 0 20px 0;
    font-size: 20px;
    color: #aaaaaa;
    text-align: center;
  }
  &__listTitle {
    font-weight: 600;
    font-size: 24px;
  }
  &__wrapper {

    box-shadow: -1px 3px 13px -4px rgba(66, 68, 90, 1);
    padding: 40px;
    border-radius: 20px;
    min-width: 400px;

  }
  &__panel {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 20px;
    & input {
      padding: 10px 20px;
      border: none;
      border-radius: 25px;
      outline: none;
      box-shadow: -1px 3px 13px -4px rgba(66, 68, 90, 1);
      font-size: 20px;
    }
    & button {
      font-size: 20px;
      color: black;
      background: #ffe01b;
      border: 1px solid black;
      padding: 10px 20px;
      border-radius: 25px;
      cursor:pointer;
      font-weight: 600;
      transition: .3s ease all;
    }
    & button:active {
      transform: translateY(-5px);
    }
  }
}

@media (max-width: 500px) {
  .todo {
    &__wrapper {
      min-width: auto;
    }
  }
}
.title {
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  margin-top: 100px;
}

.delete {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0,.3);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 15px;
  z-index: 10;
  &__item {
    display: flex;
    background: white;
    flex-direction: column;
    gap: 20px;
    border-radius: 20px;
    box-shadow: -1px 3px 13px -4px rgba(66, 68, 90, 1);
    padding: 30px 60px;
    width: 100%;
    max-width: 400px;
  }
  &__title {
    text-align: center;
    font-size: 24px;
    font-weight: 600;
  }
  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__button {
    border-radius: 10px;
    padding: 10px 20px;
    font-size: 20px;
    border: 1px solid black;
    font-weight: 600;
    cursor: pointer;
    background: #ffffff;
  }
  &__yes {
    background: #ffe01b;
    border: 1px solid black;
    color: black;
  }
  &__opened {
    display: flex;
  }

  &__closed {
    display: none;
  }
}
@media (max-width: 450px) {
  .delete {
    &__item {
      padding: 10px 20px;
    }
  }
}

